.single-event {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: var(--navbar-height);
  color: #fff;
  max-width: 100%;
}

.single-event .hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  z-index: 0;
  text-align: center;
}

.single-event .hero .heading {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  background: var(--sponsor-title-gradient);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text; /* Clip the background to the text */
  -webkit-text-fill-color: transparent; /* Make text transparent to show gradient */
  text-align: center;
  z-index: 1;
}

.single-event .hero .byline {
  font-size: 1.2rem;
  max-width: 100%;
  color: var(--grey);
  padding: 2rem;
}

.single-event .hero .banner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.4;
  background: url("/assets/groupfie.webp");
}

.single-event .hero .time,
.single-event .hero .venue {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.single-event .hero .hero-image {
  margin-top: 4rem;
  height: 7vh;
}

/* Event-container  */

.single-event .event-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 7rem;
  background: url("/assets/Sponsor/Check-background.svg") no-repeat
    center/contain;
}

.single-event .event-container .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-event .event-container .image-container .image {
  height: 35vh;
}

.single-event .event-container .event-text {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: space-around;
}

.single-event .event-container .event-text p {
  max-width: 100%;
}
.single-event .event-container .event-text .button-group {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;
}
.single-event .info-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.single-event .info-container .time {
  display: flex;
  flex-direction: column;
  padding: 3rem 7rem;
  justify-content: flex-start;
}

.single-event .info-container .time p {
  max-width: 100%;
}
.single-event .info-container .POC {
  display: flex;
  flex-direction: column;
  padding: 3rem 7rem;
  justify-content: flex-start;
}
.single-event .info-container h1 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
  background: var(--sponsor-title-gradient);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text; /* Clip the background to the text */
  -webkit-text-fill-color: transparent; /* Make text transparent to show gradient */
  z-index: 1;
}

@media (max-width: 480px) {
  .single-event .hero .heading {
    font-size: 3.5rem;
    margin-bottom: 0.8rem;
  }

  .single-event .event-container .event-text {
    text-align: center;
  }
  .single-event .event-container .event-text .button-group {
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  .single-event .info-container {
    margin-top: -3rem;
  }
  .single-event .info-container .time,
  .single-event .info-container .POC {
    padding: 1rem 2rem;
  }
}
