.single-event {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: var(--navbar-height);
    color: #fff;
}

.single-event .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    position:relative;
    z-index: 0;
}

.single-event .hero .heading {
    font-size: 3rem;
}

.single-event .hero .byline {
    font-size: 1rem;
    text-align: center;
    width: 80%;
    color: var(--grey);
    padding-top: 2rem;
}

.single-event .hero .banner {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity :0.4;
}

.single-event .hero .time,
.single-event .hero .venue {
    font-size: 1.2rem;
}