.lamp-container {
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    /* background-color: green; */
}

.lamp-container .lamp-right {
    transform: rotateY(180deg);
}

.lamp-container .light-spreader {
    position: absolute;
    width: 70%;
    height: 50%;
    background-color: #c30074;
    top: 30%;
    z-index: 1000;
    border-radius: 50%;
    filter: blur(550px);
}

.lamp-container img {
    width: 50%;
    position: relative;
    z-index: 1;
    animation: lamp-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    /* outline: 1px solid lime; */
}

@keyframes lamp-animation {
    0% {
        transform: scaleX(0);
        opacity: 0
    }
    70% {
        transform: scaleX(1.2);
    }

    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}
