.sponsors-carousel {
  margin-top: 3rem;
  max-width: 1000px;
  overflow: hidden;
}

.sponsors-carousel .sponsors-track {
  margin: 1rem 0;
  display: inline-flex;
  animation: scroll 30s linear infinite;
}

.sponsors-carousel .sponsors-track:hover {
  animation-play-state: paused;
}

/* Sponsor Card Styles */
.sponsors-carousel .sponsors-track .sponsor-card {
  height: 8rem;
  width: 12rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-inline: 1rem;
  transition: transform 0.3s ease;
}

.sponsors-carousel .sponsors-track .sponsor-card:hover {
  transform: translateY(-0.5rem);
}

.sponsors-carousel .sponsors-track .sponsor-card .sponsor-logo {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

@media (max-width: 480px) {
  .sponsors-carousel .sponsors-track .sponsor-card {
    height: 7rem;
    width: 10rem;
  }
}
