.instruo-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
  width: 100%;
}

.instruo-prev .heading {
  background: linear-gradient(hsla(0, 0%, 100%, 30%), #fff);
  background-clip: text;
  color: transparent;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}

.instruo-prev .gallery {
  width: 100%;
  margin: 3rem 0 8rem 0;
  position: relative;
  /* overflow: hidden; */
}

.instruo-prev .gallery svg {
  width: 100%;
  height: max-content;
  /* outline: 1px solid lime; */
  position: relative;
  z-index: 2;
}

.instruo-prev .gallery .glowy1 img,
.instruo-prev .gallery .glowy2 img {
  width: 100%;
  aspect-ratio: 1/1;
  /* aspect-ratio: 1/1; */
}

.instruo-prev .gallery .glowy1,
.instruo-prev .gallery .glowy2 {
  border-radius: 50%;
  position: absolute;
  width: 100%;
  z-index: 1;
  /* animation: rotate 10s linear infinite; */
  /* outline: 5px solid yellow; */
}

.instruo-prev .gallery .glowy2 {
  bottom: -10rem;
  /* transform: scale(0.8); */
}
.instruo-prev .gallery .glowy1 {
  top: -10rem;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
